<% if(data.hasPrevPage || data.hasNextPage) { %>
<% console.log(data); %>
<nav aria-label="Page navigation">
	<ul class="pagination justify-content-center">
		<% if(data.hasPrevPage) { %>
		<li class="page-item">
			<a class="page-link" href="?page=1&perPage=<%= data.limit %>" aria-label="First">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		<% } else { %>
		<li class="page-item disabled">
			<a class="page-link" href="?page=1&perPage=<%= data.limit %>" aria-label="First">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		<% } %>
		<% if(data.hasPrevPage) { %>
		<li class="page-item">
			<a class="page-link" href="?page=<%= data.prevPage %>&perPage=<%= data.limit %>" aria-label="Previous">
				<span aria-hidden="true">&lsaquo;</span>
			</a>
		</li>
		<% } else { %>
		<li class="page-item disabled">
			<a class="page-link" href="?page=<%= data.prevPage %>&perPage=<%= data.limit %>" aria-label="Previous">
				<span aria-hidden="true">&lsaquo;</span>
			</a>
		</li>
		<% } %>
		<% data.pagesArray.forEach(page => { %>
		<% if(page == data.page) { %>
		<li class="page-item active"><a class="page-link"
				href="?page=<%= page %>&perPage=<%= data.limit %>"><%= page %></a>
		</li>
		<% } else { %>
		<li class="page-item"><a class="page-link" href="?page=<%= page %>&perPage=<%= data.limit %>"><%= page %></a>
		</li>
		<% } %>
		<% }) %>
		<% if(data.hasNextPage) { %>
		<li class="page-item">
			<a class="page-link" href="?page=<%= data.nextPage %>&perPage=<%= data.limit %>" aria-label="Next">
				<span aria-hidden="true">&rsaquo;</span>
			</a>
		</li>
		<% } else { %>
		<li class="page-item disabled">
			<a class="page-link" href="?page=<%= data.nextPage %>&perPage=<%= data.limit %>" aria-label="Next">
				<span aria-hidden="true">&rsaquo;</span>
			</a>
		</li>
		<% } %>
		<% if(data.page != data.totalPages) { %>
		<li class="page-item">
			<a class="page-link" href="?page=<%= data.totalPages %>&perPage=<%= data.limit %>" aria-label="Last">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
		<% } else { %>
		<li class="page-item disabled">
			<a class="page-link" href="?page=<%= data.totalPages %>&perPage=<%= data.limit %>" aria-label="Last">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
		<% } %>
	</ul>
</nav>
<% } %>