<%- contentFor('body') %>
<% include ../partials/messages.ejs %>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Insert primer data</h1>
</div>
<div class="container">
	<form id="add_primer_form" action="/dashboard/add_primers" method="POST">
		<div class="form-group">
			<label for="inputPrimer">Primer</label>
			<input type="text" class="form-control" name="primer" id="inputPrimer" placeholder="Primer">
		</div>
		<div class="form-group">
			<label for="inputSequence">Sequence</label>
			<input type="text" class="form-control" name="sequence" id="inputSequence" placeholder="Sequence">
		</div>
		<div class="form-group">
			<label>Articles (max. 5)</label>
			<div id="articles" class="container">
				<label for="inputArticle1">Article 1</label>
				<input type="text" class="form-control" name="article" id="inputArticle1" placeholder="Name">
				<div class="form-row">
					<div class="col-3">
						<div class="custom-control custom-radio mt-3">
							<input type="radio" id="isLink1" name="customRadio1" value="link"
								class="custom-control-input radio_toggle" checked>
							<label class="custom-control-label" for="isLink1">Link</label>
						</div>
						<div class="custom-control custom-radio mt-3">
							<input type="radio" id="isPDF1" name="customRadio1" value="pdf"
								class="custom-control-input radio_toggle">
							<label class="custom-control-label" for="isPDF1">PDF</label>
						</div>
					</div>
					<div class="col-9 mt-3">
						<div id="linkInput1" class="form-group">
							<label for="inputLink1">Link</label>
							<input type="text" class="form-control" name="link" id="inputLink1" placeholder="Link">
						</div>
						<div id="pdfInput1" class="form-group">
							<div class="input-group mb-1">
								<div class="input-group-prepend">
									<label class="input-group-text" for="pdfSelect">PDF</label>
								</div>
								<select class="custom-select" name="pdf" size="2" id="pdfSelect1">
									<option value="#!" selected>Choose a pdf...</option>
									<% for(let i = 0; i < pdfList.length; i++) { %>
									<option value="<%=pdfList[i] %>"><%= pdfList[i] %></option>
									<% } %>
								</select>
							</div>
							<a href="#!" data-toggle="modal" data-target="#addFileModal">+ Add new pdf
								file</a>
						</div>
					</div>
				</div>
			</div>
			<a href="#!" class="add_article">+ Add more articles</a>
		</div>
		<div class="form-group">
			<label for="inputBlast">BLAST</label>
			<input type="text" class="form-control" name="blast" id="inputBlast" placeholder="BLAST">
		</div>
		<div class="form-group">
			<label>Notes (max. 5)</label>
			<div class="container" id="notes" name="notes">
				<label for="inputNotes1">Note 1</label>
				<input type="text" class="form-control" name="note" id="inputNotes1" placeholder="Note">
			</div>
			<a href="#!" class="add_note">+ Add more notes</a>
		</div>
		<input class="btn btn-primary my-3" formaction="/dashboard/add_primers" type="submit" value="Insert primer">
	</form>
	<a href="/dashboard" class="btn btn-primary my-3">Go back</a>

	<% include upload_file.ejs %>
</div>

<%- contentFor('scripts') %>
<script type="text/javascript">
	let inputFile = document.querySelector(' #inputFile'); inputFile.addEventListener('change', () => {
		let fileName = inputFile.value.slice(12);
		document.getElementById('fileLabel').innerHTML = fileName;
	});

	$(document).ready(() => {
		let maxFields = 5;
		let articles = $('#articles');
		let notes = $('#notes');
		let add_article = $('.add_article');
		let add_note = $('.add_note');

		let article_count = 1;
		let note_count = 1;

		const showHideFields = () => {
			for (let i = 1; i <= article_count; i++) {
				let checked = $(`input[name=customRadio${i}]:checked`, '#add_primer_form').val();
				if (checked == 'link') {
					$(`#linkInput${i}`).show();
					$(`#pdfInput${i}`).hide();
				} else if (checked == 'pdf') {
					$(`#linkInput${i}`).hide();
					$(`#pdfInput${i}`).show();
				}
			}
		};

		$(articles).ready(() => {
			showHideFields();
		});

		$(articles).change(() => {
			showHideFields();
		});

		$(add_article).click(e => {
			e.preventDefault();
			if (article_count < maxFields) {
				article_count++;
				$(articles).append(` <label for="inputArticle${article_count}">Article
											${article_count}</label>
											<input type="text" class="form-control" name="article"
												id="inputArticle${article_count}" placeholder="Name">
											<div class="form-row">
												<div class="col-3">
													<div class="custom-control custom-radio mt-3">
														<input type="radio" id="isLink${article_count}"
															name="customRadio${article_count}" value="link"
															class="custom-control-input radio_toggle"
															checked>
														<label class="custom-control-label"
															for="isLink${article_count}">Link</label>
													</div>
													<div class="custom-control custom-radio mt-3">
														<input type="radio" id="isPDF${article_count}"
															name="customRadio${article_count}" value="pdf"
															class="custom-control-input radio_toggle">
														<label class="custom-control-label"
															for="isPDF${article_count}">PDF</label>
													</div>
												</div>
												<div class="col-9 mt-3">
													<div id="linkInput${article_count}" class="form-group">
														<label for="inputLink${article_count}">Link</label>
														<input type="text" class="form-control" name="link"
															id="inputLink${article_count}" placeholder="Link">
													</div>
													<div id="pdfInput${article_count}" class="form-group">
														<div class="input-group mb-1">
															<div class="input-group-prepend">
																<label class="input-group-text"
																	for="pdfSelect">PDF</label>
															</div>
															<select class="custom-select"
															size="2" name="pdf" id="pdfSelect${article_count}">
																<option value="#!" selected>Choose a pdf...</option>
																<% for(let i = 0; i < pdfList.length; i++) { %>
																<option value="<%=pdfList[i] %>"><%= pdfList[i] %></option>
																<% } %>
															</select>
														</div>
														<a href="#!" data-toggle="modal"
															data-target="#exampleModalCenter">+ Add new pdf
															file</a>
													</div>
												</div>
											</div>
											`);
			}
			showHideFields();
		});

		$(add_note).click(e => {
			e.preventDefault();
			if (note_count < maxFields) {
				note_count++;
				$(notes).append(`<label for="inputNotes${note_count}">Note ${note_count}</label>
				<input type="text" class="form-control" name="note" id="inputNotes${note_count}" placeholder="Note">`);
			}
		})
	});
</script>