<%- contentFor('header') %>
<header>
	<h1 class="page-title text-center mt-5"><%= title %></h1>
</header>

<%- contentFor('body') %>
<% include ../partials/messages.ejs %>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Manage primer data</h1>
</div>
<div class="container-fluid">
	<div class="table-responsive mb-3">
		<table class="table table-striped table-bordered table-hover mt-5">
			<thead class="thead-dark">
				<th scope="col">Primer</th>
				<th scope="col">Sequence</th>
				<th scope="col">Sites/Articles</th>
				<th scope="col">BLAST Results</th>
				<th scope="col">Notes</th>
				<th scope="col">Edit / Delete</th>
			</thead>
			<tbody>
				<% for(i in data.docs) { %>
				<tr>
					<th scope="row"><%= data.docs[i].primer %></th>
					<td><%= data.docs[i].sequence %></td>
					<td>
						<% for(let j = 0; j < data.docs[i].articles.length; j++) { %>
						<% if (data.docs[i].articles[j].pdf) { %>
						<a href="/file?id=<%= data.docs[i].articles[j].link %>"
							target="_blank"><%= data.docs[i].articles[j].name %></a>
						<% } else { %>
						<a href="<%= data.docs[i].articles[j].link %>"
							target="_blank"><%= data.docs[i].articles[j].name %></a>
						<% } %>
						<% if (j != data.docs[i].articles.length -1) { %>
						<hr>
						<% } %>
						<% } %>
					</td>
					<td><%= data.docs[i].blast %></td>
					<td>
						<% for(let j = 0; j < data.docs[i].notes.length; j++) { %>
						<%= data.docs[i].notes[j].note %>
						<% if (j != data.docs[i].notes.length -1) { %>
						<hr>
						<% } %>
						<% } %>
					</td>
					<td align="center" style="vertical-align:middle;">
						<a href="#!" data-toggle="modal" data-target="#editPrimerModal" class="text-primary">
							<svg enable-background="new 0 0 24 24" height="24px" version="1.1" viewBox="0 0 24 24"
								width="24px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" fill="currentColor" stroke="none"
								stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-primary">
								<path
									d="M21.635,6.366c-0.467-0.772-1.043-1.528-1.748-2.229c-0.713-0.708-1.482-1.288-2.269-1.754L19,1C19,1,21,1,22,2S23,5,23,5  L21.635,6.366z M10,18H6v-4l0.48-0.48c0.813,0.385,1.621,0.926,2.348,1.652c0.728,0.729,1.268,1.535,1.652,2.348L10,18z M20.48,7.52  l-8.846,8.845c-0.467-0.771-1.043-1.529-1.748-2.229c-0.712-0.709-1.482-1.288-2.269-1.754L16.48,3.52  c0.813,0.383,1.621,0.924,2.348,1.651C19.557,5.899,20.097,6.707,20.48,7.52z M4,4v16h16v-7l3-3.038V21c0,1.105-0.896,2-2,2H3  c-1.104,0-2-0.895-2-2V3c0-1.104,0.896-2,2-2h11.01l-3.001,3H4z" />
							</svg>
						</a>
					</td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
	<% include ../partials/_paginate.ejs %>
	<a href="/dashboard" class="btn btn-primary my-3">Go back</a>
	<% include edit_primers.ejs %>
</div>