<%- contentFor('header') %>
<img src="/img/dna-banner.jpg" alt="dna banner" class="img-fluid mx-auto d-block p-2">
<h1 class="page-title text-center mt-3"><%= _locals.title %></h1>

<%- contentFor('body') %>
<main>
	<div class="container text-center">
		<a href="primers?page=1&perPage=<%= perPage %>" class="btn btn-primary mt-3">Primers</a>
		<a href="#!" class="btn btn-primary mt-3">Oligonucleotides</a>
		<a href="regions?page=1&perPage=<%= perPage %>" class="btn btn-primary mt-3">Target Regions</a>
		<a href="clustal?page=1&perPage=<%= perPage %>" class="btn btn-primary mt-3">CLUSTAL</a>
		<hr class="my-5">
		<div class="row">
			<div class="col-md-4">
				<p>Development by:</p>
				<p>Ricardo Domingues</p>
			</div>
			<div class="col-md-4">
				<a href="/users/login" class="btn btn-primary mt-3">Sign in</a>
				<a href="/users/register" class="btn btn-primary mt-3">Sign up</a>
			</div>
			<div class="col-md-4 mt-4 mt-sm-0">
				<p>Research by:</p>
				<p>Micaela Martins</p>
			</div>
		</div>
	</div>
</main>