<%- contentFor('styles') %>
<style>
	#searchFor {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
</style>

<%- contentFor('header') %>
<header>
	<h1 class="page-title text-center mt-5"><%= title %></h1>
</header>

<%- contentFor('body') %>
<div class="container-fluid">
	<form id="search" action="/regions/search" method="POST" class="form-inline my-2 my-lg-0">
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<select name="searchFor" id="searchFor" class="custom-select">
					<option selected disabled>Search for</option>
					<option value="region">Region</option>
					<option value="sequence">Sequence</option>
				</select>
			</div>
			<input type="search" placeholder="Search" class="form-control" name="search" aria-label="Search">
			<div class="input-group-append">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</div>
		</div>
	</form>
	<div class="table-responsive mb-3">
		<table class="table table-striped table-bordered table-hover mt-5">
			<thead class="thead-dark">
				<th scope="col">Region</th>
				<th scope="col">Sequence</th>
				<th scope="col">Sites/Articles</th>
				<th scope="col">Alignment Results</th>
				<th scope="col">Notes</th>
				<th scope="col">Primers</th>
				<th scope="col">Amplified Sequence</th>
			</thead>
			<tbody>
				<% for(i in data.docs) { %>
				<tr>
					<th scope="row"><%= data.docs[i].region %></th>
					<td>
						<a class="nav-link" href="#!" data-toggle="modal" data-target="#showSequence"
							data-id="<%= data.docs[i].sequence %>">Show</a>
					</td>
					<td>
						<% for(let j = 0; j < data.docs[i].articles.length; j++) { %>
						<% if (data.docs[i].articles[j].pdf) { %>
						<a href="/download/<%= data.docs[i].articles[j].link %>"
							target="_blank"><%= data.docs[i].articles[j].name %></a>
						<% } else { %>
						<a href="<%= data.docs[i].articles[j].link %>"
							target="_blank"><%= data.docs[i].articles[j].name %></a>
						<% } %>
						<% if (j != data.docs[i].articles.length -1) { %>
						<hr>
						<% } %>
						<% } %>
					</td>
					<td>
						<a class="nav-link" href="#!" data-toggle="modal" data-target="#showAlignmentResults"
							data-id="<%= data.docs[i]._id %>">Show</a>
					</td>
					<td>
						<% for(let j = 0; j < data.docs[i].notes.length; j++) { %>
						<%= data.docs[i].notes[j].note %>
						<% if (j != data.docs[i].notes.length -1) { %>
						<hr>
						<% } %>
						<% } %>
					</td>
					<td>
						<a class=" nav-link" href="#!" data-toggle="modal" data-target="#showRegionPrimers"
							data-id="<%= data.docs[i]._id %>">Show</a>
					</td>
					<td>
						<a class="nav-link" href="#!" data-toggle="modal" data-target="#showRegionAmpSequence"
							data-id="<%= data.docs[i]._id %>">Show</a>
					</td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>

	<% include ./partials/show_region_sequence.ejs %>
	<% include ./partials/show_region_alignment.ejs %>
	<% include ./partials/show_region_primers.ejs %>
	<% include ./partials/show_region_ampSequences.ejs %>
	<% include ./partials/_paginate.ejs %>
	<a href="/" class="btn btn-primary my-3">Go back</a>
</div>

<%- contentFor('scripts') %>
<script>
	$('#showAlignmentResults').on('show.bs.modal', (e) => {
		let id = $(e.relatedTarget).data('id');
		$.post("/getRegion/" + id, {
			search: id
		}, (data, status) => {
			if (status == 'success') {
				$('#region_alignment').append('<tr><td>' + data.blast + '</td><td>' + data.unite + '</td><td>' + data.bold + '</td><td>' + data.phyto + '</td></tr>');
			}
		})
	})
	$('#showAlignmentResults').on('hide.bs.modal', (e) => {
		$('#region_alignment').empty();
	})

	$('#showRegionPrimers').on('show.bs.modal', (e) => {
		let id = $(e.relatedTarget).data('id');
		$.post("/getRegion/" + id, {
			search: id
		}, (data, status) => {
			if (status == 'success') {
				for (let i = 0; i < data.primers.length; i++) {
					$('#region_primers').append('<tr><td>' + data.primers[i].primer + '</td><td>' + data.primers[i].sequence + '</td><td>' + data.primers[i].blast + '</td><td>' + data.primers[i].notes + '</td></tr>');
				}
			}
		})
	})
	$('#showRegionPrimers').on('hide.bs.modal', (e) => {
		$('#region_primers').empty();
	})

	$('#showRegionAmpSequence').on('show.bs.modal', (e) => {
		let id = $(e.relatedTarget).data('id');
		$.post("/getRegion/" + id, {
			search: id
		}, (data, status) => {
			if (status == 'success') {
				for (let i = 0; i < data.amp_sequences.length; i++) {
					$('#region_ampsequences').append('<tr><td>' + data.amp_sequences[i].name + '</td><td  style="max-width: 300px; word-wrap: break-word;">' + data.amp_sequences[i].sequence + '</td><td>' + data.amp_sequences[i].blast + '</td><td>' + data.amp_sequences[i].unite + '</td><td>' + data.amp_sequences[i].boldsystems + '</td><td>' + data.amp_sequences[i].phytophthoradb + '</td><td style="min-width: 300px;">' + data.amp_sequences[i].notes + '</td></tr>');
				}
			}
		})
	})
	$('#showRegionAmpSequence').on('hide.bs.modal', (e) => {
		$('#region_ampsequences').empty();
	})

	$('#showSequence').on('show.bs.modal', (e) => {
		let id = $(e.relatedTarget).data('id');
		$('#region_sequence').append('<p>' + id + '</p>');
	})
	$('#showSequence').on('hide.bs.modal', (e) => {
		$('#region_sequence').empty();
	})
</script>